<main class="l-main">
  <!--========== CONTACT US ==========-->
  <section class="contact section bd-container" id="contact">
    <div class="contact__container bd-grid">
      <div class="contact__data">
        <span class="section-subtitle contact__initial">Let's talk</span>
        <h2 class="section-title contact__initial">Contact us</h2>
        <p class="contact__description">
          If you want to reserve a table in our restaurant, contact us and we
          will attend you quickly, with our 24/7 chat service.
        </p>
      </div>

      <div class="contact__button">
        <a href="#" class="button" [routerLink]="['contact']">Contact us now</a>
      </div>
    </div>
    <div class="container-fluid mt-5">
      <div class="card mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-sm-4">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <h4 class="text-center">Reactive Forms</h4>
          </div>

          <div class="card-body">
            <div class="form-group">
              <label>User Name</label>
              <input formControlName="userName" class="form-control mb-3" />
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control mb-3"formControlName="email" />
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control mb-3" />
            </div>
          </div>
          <div class="card-footer text-center">
            <p>Complete the form to enable button.</p>
            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
